init.author.name=Aman Mittal
init.author.url=http://amandeepmittal.github.io/
init.license=MIT
init.version=0.1.0
progress=false
cache-min=9999999
save-exact=true
//registry.npmjs.org/:_authToken=a8191f65-3670-474d-a2d1-238545cd4c59
username=amandeepmittal
email=amandeemittal@live.com
init-author-name=Aman Mittal
init-author-email=amandeepmittal@live.com
init-author-url=https://amandeepmittal.github.io/
init-license=MIT
