"$schema" = 'https://starship.rs/config-schema.json'

add_newline = true
format = """$directory$character"""
palette = "catppuccin_mocha"
right_format = """$all"""

[character]
success_symbol = '[➜](bold fg:green bg:base)[](bold base)'
error_symbol = '[✖](bold fg:red)'

[directory]
style = 'bold fg:text bg:base'
format = '[](bold base)[$path ]($style)[$read_only]($read_only_style)'
read_only_style = 'bold fg:red bg:mantle'

[git_branch]
format='[](bold base)[$symbol$branch(:$remote_branch)](bold bg:base fg:text)[](bold base)'
style='bold bright fg:white bg:base'
symbol=" "

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
orange = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
white = "#ffffff"